

#nav-main{
   
  display: flex;
  height: 4rem;
  padding: 1rem;
  cursor: pointer;
  justify-content: space-between;
}
#logo{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#logo h2{
  font-size: 1.5rem;
  font-weight: 600;
}
#nav{
  
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  font-weight: 400;
  font-weight: 500;
}
#nav-home{
  color: #1f2df4;
}
#nav-btn{
  border: 1px solid blue;
  width: 7rem;
  height: 2.3rem;
  border-radius: 8px;
  margin-bottom: 0;
  background-color: blue;
  color: rgb(248, 249, 250);
}
#nav-btn:hover{
  background-color: rgb(12, 12, 227);
}